* {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 12px;
}

li {
  text-decoration: none;
  padding: 8px;
}

input {
  display: block;
  margin-bottom: 12px;
  padding: 12px;
  border: 1px solid;
}

#book-entry {
  margin: 12px 0;
  display: flex;
  flex-direction: column;
}

.justify-right {
  align-self: flex-end;
}

.text-center {
  text-align: center;
}

#books {
  border-width: 1px;
  border-style: solid;
}

.book-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-item:nth-child(odd) {
  background-color: lightgrey;
}

.button {
  border: none;
  background-color: royalblue;
  padding: 16px;
  height: 48px;
  color: white;
}

.small-button {
  padding: 0 16px;
  height: 32px;
}

.bg-danger {
  background-color: red;
}
